@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.noto-fonts {
    font-family: "Noto Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}


.bg-img {
    background-image: url("/assets/image/Home-page-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    background-color: var(--fc-blue-light);
}

.nav-full {
    background-color: var(--fc-blue-light);
    width: 100%;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.links {
    display: flex;
    align-items: center;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-full {
    background-color: var(--fc-dark-blue);
}

.gap-33 {
    gap: 34px;
}

.pt-44 {
    padding-top: 44px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pb-17 {
    padding-bottom: 17px;
}

.my-15 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.nav-links {
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: var(--fc-white);
}

.search-icon {
    border: 1px solid var(--fc-white);
    max-width: 257px;
    border-radius: 5px;
    background-color: var(--fc-blue-light);
    color: var(--fc-white);
    outline: 0;
    padding: 10px 30px 7px 13px;
}

.search-icon::placeholder {
    color: var(--fc-white);
}

.searchbar {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

.logo-mini-screeen {
    display: none;
}

.logo-large-screen {
    display: block;
}

.position-relative {
    position: relative;
}

.position-absoulute {
    position: absolute;
}

.z-3 {
    z-index: 3;
}

.z-2 {
    z-index: 2;
}

.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-item-center {
    justify-items: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.justify-content-space-between {
    justify-content: space-between;
}


.min-h-100 {
    min-height: 100vh;
}

.w-100 {
    width: 100%;
}

.pt-44 {
    padding-top: 44px;
}

.pb-42 {
    padding-bottom: 42px;
}

.heading {
    font-size: var(--fs-lg);
    font-weight: 700;
    line-height: 136%;
    text-align: center;
    color: var(--fc-white);
    margin-top: 90px;
    margin-bottom: 14px;
}

.text {
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 29.96px;
    text-align: center;
    color: var(--fc-white);
    max-width: 408px;
    margin-left: auto;
    margin-right: auto;
}

.bottom-img {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
}

@media (max-width:992px) {
    .menu-icon {
        background-color: var(--fc-dark-blue);
    }

    .links {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0px;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: var(--fc-dark-blue);
        transition: all 200ms linear;
    }

    label[for="openslider"] {
        width: 30px;
        height: 23px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }

    label[for="openslider"] span {
        width: 100%;
        height: 3px;
        background-color: var(--fc-white);
        border-radius: 3px;
        transition: all 200ms linear;
    }

    input:checked~.links {
        left: 0;
    }

    input:checked~label[for="openslider"] span:first-child {
        transform: rotate(40deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:last-child {
        transform: rotate(-41deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:nth-child(2) {
        transform: translateX(-40px);
        opacity: 0;
        visibility: hidden;
    }

    .flex-direction-column-786px {
        flex-direction: column;
    }

    .nav-bar {
        position: fixed;
        left: 0;
        right: 0;
        background: var(--fc-blue);
        z-index: 5;
    }

    .nav-all-links {
        justify-content: center;
    }

    .logo-mini-screeen {
        display: block;
    }

    .logo-large-screen {
        display: none;
    }

    .ms-18 {
        margin-right: 18px;
    }

    .me-25 {
        margin-right: 25px;
    }

}

@media (min-width:768px) {
    .heading {
        margin-top: 80px;
        margin-bottom: 53px;
    }

    .pt-lg-57 {
        padding-top: 57px;
    }

    .pb-lg-59 {
        padding-bottom: 59px;
    }

}

@media (min-width:992px) {
    .heading {
        margin-top: 50px;
    }

    .mb-lg-14 {
        margin-bottom: 14px;
    }

    .text {
        max-width: 1000px;
    }
}

@media (min-width:1400px) {
    .search-icon {
        width: 257px;
    }
}

@media (max-width:576px) {
    .tdk-img {
        max-width: 279px;
    }
}

@media (max-width:1200px) {
    .bg-img {
        height: 930px;
    }
}